img {
    float:left;
    margin-right:10px;
    padding-left: 150px;
}

h3 {
    line-height: 20px;
}

.style1 {
    padding-right: 160px;
    color: white;
}

.zero {
    color: #FF5003;
    padding-left: 150px;
}

.style2 {
    padding-left: 150px;
    color: white;
}

.style3 {
    padding-left: 188px;
    color: white;
}
.bodystyle {
    background-color: #002347;
}

.style4 {
    padding-left: 150px;
    color: white;
}