img {
    float:left;
    margin-right:10px;
    padding-left: 150px;
}

h3 {
    line-height: 20px;
}

.style1 {
    padding-right: 160px;
}

.zero {
    color: #FF5003;
    padding-left: 150px;
}

.style2 {
    padding-left: 150px;
    color:#002347
}
